.slide-one {
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: end;
  flex-direction: column;
  display: flex;
  position: relative;
  width: 90vw;
  height: 100vh;
  padding-right: 100px;
}


.slide-two {
  width: 110rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-three {
  width: 110rem;
  display: flex;
  position: relative;
  justify-content: start;
  background-image: url(images/image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-four {
  width: 96rem;
  display: flex;
  position: relative;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  margin-left: 3vw;
}

.slide-four div {
  width: 40%;
}

.slide-four img {
  width: 50%;
}

.slide-four .container-1 {
  display: flex;
  flex-direction: column;
}

.slide-four .container-1 img {
  align-self: center;
  width: 100%;
  margin-top: 30px;
}

.slide-four p {
  font-size: 24px;
}

.slide-four .container-2 {
  display: flex;
  flex-direction: column;

}

.slide-four .container-2 img {
  align-self: start;
  width: 60%;
}

.slide-four .container-2 p {
  margin-top: 30px;
  width: 80%;
  text-align: start;
}

.slide-five {
  width: 120rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 10em;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.slide-five .container-2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  align-items: end;
  justify-content: center;
  margin-bottom: 20px;
}

.slide-five .container-2  .img-1 {
  margin-right: -5rem;
}

.slide-five .container-2 img {
  width: 100%;
  height: auto;
}

.slide-five .container-1 {
  width: 80%;
  font-size: 64px;
  align-self: center;
  text-align: center;
}

#image-one-trigger {
  top: 70% !important;
  left: 12% !important;
}

#image-two-trigger {
  top: 70% !important;
  left: 50% !important;
}

#image-three-trigger {
  top: 65% !important;
  left: 83% !important;
}

.slide-six {
  width: 140rem;
  height: 100vh;
  background-image: url(images/image-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slide-six .bodytext-5 {
  color: white;
  position: absolute;
  right: 60px;
  bottom: 60px;
  font-size: 64px;
  width: 1000px;
}

.slide-seven {
  display: flex;
  position: relative;
}

.slide-seven__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
}

.slide-seven__right {
  height: 100vh;
}

.slide-seven .img-12 img {
  width: 900px;
}

.slide-seven .bodytext-6 {
  font-size: 24px;
  width: 700px;
  text-align: start;
  align-self: end;
}

.slide-eight {
  width: 120rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 50px;
  border-color: white;
  align-items: center;
}

.slide-eight .nature-images {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center
}

.slide-eight .nature-images img {
  width: 30%;
  object-fit: contain;
}

.slide-eight .bodytext-8 {
  font-size: 24px;
  width: 60vw;
  margin-top: 2vh;
  align-self: center;
}

.slide-nine {
  display: flex;
  position: relative;
  background-image: url(images/image-11.jpg);
  width: 110rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.slide-nine .bodytext-9 {
  font-size: 24px;
  width: 35vw;
  text-align: center;
  color: white;
}

.slide-ten {
  width: 96rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.image-top {
  height: 30%;
  object-fit: contain;
  transform: rotate(180deg);
}

.slide-ten .bodytext-10 {
  font-size: 64px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-bottom {
  display: flex;

  width: 100%;
  height: 30%;
  object-fit: contain;
  justify-content: space-between;
}

.slide-eleven {
  display: flex;
  position: relative;
  height: 100vh;
  width: 96rem;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 8vw;
}

.slide-eleven .image-middle {
  height: 100%;
}

.slide-eleven .image-left {
  height: 100%;
  position: relative;
}

.slide-eleven .bodytext-11 {
  font-size: 64px;
}

#image-four-trigger {
  position: absolute;
  cursor: pointer;
  z-index: 3;
}

.slide-twelve {
  display: flex;
  position: relative;
  width: 175rem;
  background-image: url(images/image-16-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-twelve .bodytext-12 {
  font-size: 24px;
  color: white;
  width: 24rem;
  z-index: 3;
  position: absolute;
  top: 30%;
  left: 10%;
}

.slide-twelve .image-back {
  float: left;
}

.slide-thirteen {
  display: flex;
  width: 90rem;
  margin-left: 2vw;
  flex-wrap: wrap;
}

.slide-thirteen .bodytext-13 {
  font-size: 128px;
  line-height: 100%;
}

.slide-thirteen .bodytext-13 p{
  margin-top: 100px;
  font-size: 64px;
}

.slide-thirteen .about-author {
  align-self: flex-end;
  margin-bottom: 3rem;
}

.about-author p {
  font-family: arial;
  font-size: 16px;
  color: gray;
}

.title {
  font-family: prata;
  font-size: 128px;
  margin-right: 100px;
  text-align: end;
  max-width: 600px;
  position: relative;
  line-height: 100%;
  margin-bottom: 30px;
}

.title img {
  position: absolute;
  top: 7px;
  right: 67px;
  width: 100px;
  height: 100px;
}

.title-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-right: 100px;
  text-align: end;
  max-width: 400px;
}

.bodytext-1 {
  color: white;
  width: 650px;
  font-size: 24px;
  text-align: center;
}

img {
  height: 100%;
}

.bodytext-2 {
  color: white;
  width: 600px;
  font-size: 64px;
  position: absolute;
  left: 7%;
  top: 5%;
}

.circle {
  position: absolute;
  bottom: 20rem;
  left: 20rem;

  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: black 1px solid;

  cursor: pointer;

  box-shadow:
  0 0 60px 10px #fff,  /* inner white */
  0 0 100px 20px #f0f, /* middle magenta */
  0 0 140px 30px #0ff; /* outer cyan */

  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {
    box-shadow:
    0 0 60px 10px #fff,  /* inner white */
    0 0 100px 30px #f0f, /* middle magenta */
    0 0 140px 60px #0ff; /* outer cyan */
  }
  to {
    box-shadow:
    0 0 60px 10px #fff,  /* inner white */
    0 0 100px 20px rgb(86, 84, 149), /* middle magenta */
    0 0 140px 30px rgb(221, 190, 53); /* outer cyan */
  }
}

.info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 250px;
  align-items: center;
  padding: 20px;
}

.info h2 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: left;
}

.info p {
  font-family: Arial, Helvetica, sans-serif;
}

.modal-dialog .info__image {
  width: 35%;
  height: auto;
  margin-right: 10px;
}

.close-button {
  width: 50px;
  background: none;
  color: black;
  position: absolute;
  top: 0;
  align-self: end;
  display: block;
  border: none;
  margin: 5px;
  cursor: pointer;
  right: 0;
  top: 10px;
}

.close-button__image {
  width: 40%;
}

.disabled {
  pointer-events: none;
}

#slide-six-trigger {
  top: 50% !important;
  left: 52% !important;
}

#modal-one .info__image,
#modal-two .info__image {
  width: 100%;
  height: 10em;
  object-fit: cover;
  margin-top: 2em;
  margin-bottom: 10px;
}


.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  background-color: #fff;
  border: none;
  border-radius: 5px;

  padding: 20px 30px 35px 20px;
  width: 600px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.75rem rgba(43, 43, 43, 0.3));

  z-index: 100;

}

#modal-three .text-container, #modal-four .text-container, #modal-five .text-container {
  width: 400px;
}

.modal-dialog h2 {
  font-size: 48px;
}

.modal-dialog p {
  font-family: arial;
  margin-top: 5px;
  font-size: 18px;
}


