.slide-one {
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: end;
  flex-direction: column;
  display: flex;
  position: relative;
  width: 90vw;
  height: 100vh;
  padding-right: 100px;
}


.slide-two {
  width: 68vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-three {
  width: 75vw;
  display: flex;
  position: relative;
  justify-content: start;
  background-image: url(images/image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.slide-four {
  width: 80vw;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: white;
  align-items: center;
  justify-content: space-around;
}

.slide-four div {
  width: 40%;
}

.slide-four img {
  width: 50%;
}

.slide-four .container-1 {
  display: flex;
  flex-direction: column;
}

.slide-four .container-1 img {
  align-self: center;
  width: 100%;
  margin-top: 30px;
}

.slide-four p {
  font-size: 36px;
}

.slide-four .container-2 {
  display: flex;
  flex-direction: column;
}

.slide-four .container-2 img {
  align-self: start;
  width: 60%;
}

.slide-four .container-2 p {
  margin-top: 30px;
  width: 80%;
  text-align: end;
}

.slide-five {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slide-five .container-2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  position: absolute;
  bottom: 20px;
  align-items: end;
  justify-content: center;

}

.slide-five .container-2  .img_1 {
  margin-right: -100px;
}

.slide-five .container-2 .img-2 {
  width: 620px;
}

.slide-five img {
  width: 35%;
  height: auto;
  object-fit: scale-down;
}


.slide-five .container-1 {
  text-align: center;
  margin-top: 30px;
  font-size: 52px;
  width: 1600px;
  align-self: center;
}

.slide-six {
  width: 100vw;
  background-image: url(images/image-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-left: 100px;
}

.slide-six .bodytext-5 {
  color: white;
  position: absolute;
  left: 60px;
  bottom: 60px;
  font-size: 36px;
  width: 1000px;
}

.slide-seven {
  display: flex;
  position: relative;
}

.slide-seven__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
}

.slide-seven__right {
  margin-left: -225px;
}

.slide-seven .img-12 img {
  width: 900px;
}

.slide-seven .bodytext-6 {
  font-size: 36px;
  width: 700px;
  text-align: right;
}

#image-four-trigger {
  background-color: red;
  cursor: pointer;
  z-index: 3;
}

#slide-seven-trigger {
  background-color: red;
  top: 50% !important;
  left: 50% !important;
}

.title {
  font-family: prata;
  font-size: 128px;
  margin-right: 100px;
  text-align: end;
  max-width: 600px;
  position: relative;
  line-height: 100%;
  margin-bottom: 30px;
}

.title img {
  position: absolute;
  top: 7px;
  right: 67px;
  width: 100px;
  height: 100px;
}

.title-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-right: 100px;
  text-align: end;
  max-width: 400px;
}

.bodytext-1 {
  color: white;
  width: 650px;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 40%;
}

img {
  height: 100%;
}

.bodytext-2 {
  color: white;
  width: 600px;
  font-size: 64px;
  position: absolute;
  left: 7%;
  top: 5%;
}

.circle {
  position: absolute;
  bottom: 25%;
  left: 16%;

  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  cursor: pointer;
}

.info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 250px;
  align-items: center;
  padding: 20px;
} 

.info h2 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: left;
}

.info p {
  font-family: Arial, Helvetica, sans-serif;
}

.info__image {
  width: 35%;
  height: auto;
  margin-right: 10px;
}

.close-button {
  width: 50px;
  background: none;
  color: black;
  position: absolute;
  top: 0;
  align-self: end;
  display: block;
  border: none;
  margin: 5px;
  cursor: pointer;
  right: 0;
  top: 10px;
}

.close-button__image {
  width: 100%;

}

.disabled {
  pointer-events: none;
}

#slide-six-trigger {
  top: 50% !important;
  left: 40% !important;
}

#image-one-trigger {
  top: 55% !important;
  left: 10% !important;
}

#image-two-trigger {
  top: 55% !important;
  left: 50% !important;
}

#image-three-trigger {
  top: 55% !important;
  left: 80% !important;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  background-color: #fff;
  border: none;
  border-radius: 5px;

  padding: 20px 30px 35px 20px;
  width: 600px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.75rem rgba(43, 43, 43, 0.3));

  z-index: 100;

}

#modal-three .text-container, #modal-four .text-container, #modal-five .text-container {
  width: 400px;
}

.modal-dialog h2 {
  font-size: 48px;
}

.modal-dialog p {
  font-family: arial;
  margin-top: 5px;
  font-size: 18px;
}


